body {
  display: block;
  font-family: "segoe ui", "arial", "noto sans", "ubuntu light", sans-serif;
  font-weight: 100;
  background-color: silver;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 100px 0 25px 0;
  text-align: center; }
  @media (min-width: 720px) {
    body {
      padding-top: 50px; } }

* > span, * > p, * > div {
  font-weight: 100;
  font-size: 20px; }

#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  width: 100%;
  background-color: black;
  color: ghostwhite;
  box-shadow: 0px 5px 5px grey;
  -ms-box-shadow: 0px 5px 5px grey;
  -moz-box-shadow: 0px 5px 5px grey;
  -o-box-shadow: 0px 5px 5px grey;
  -webkit-box-shadow: 0px 5px 5px grey; }
  #nav h1 {
    font-size: 40px;
    font-weight: 100;
    margin: 0px;
    margin-top: 10px; }
  #nav a {
    margin-top: 2px; }
  #nav .accent {
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: orange; }

.card {
  margin-top: 25px; }
  .card h2 {
    margin: 0px;
    font-weight: 100;
    font-size: 30px; }
  .card .card-header {
    box-shadow: 5px 5px 5px grey;
    -ms-box-shadow: 5px 5px 5px grey;
    -moz-box-shadow: 5px 5px 5px grey;
    -o-box-shadow: 5px 5px 5px grey;
    -webkit-box-shadow: 5px 5px 5px grey; }
  .card .card-contents {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px grey;
    -ms-box-shadow: 5px 5px 5px grey;
    -moz-box-shadow: 5px 5px 5px grey;
    -o-box-shadow: 5px 5px 5px grey;
    -webkit-box-shadow: 5px 5px 5px grey; }
  .card .accent {
    display: block;
    height: 5px;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    -ms-box-shadow: 5px 5px 5px grey;
    -moz-box-shadow: 5px 5px 5px grey;
    -o-box-shadow: 5px 5px 5px grey;
    -webkit-box-shadow: 5px 5px 5px grey; }

#about-me .accent {
  background-color: orange; }
#about-me img {
  border: 5px solid orange; }
#about-me .quote {
  margin-top: 20px;
  padding-top: 5px;
  background-color: #CCFFFF;
  border: 1px solid #3385FF; }

#school .card-header {
  background-color: #FFD54F;
  padding: 8px; }
#school .card-contents {
  padding: 0; }
  #school .card-contents .banner {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000;
    color: #FFFFFF;
    margin-bottom: 10px; }
#school .accent {
  height: 18px;
  background-color: #FFFFFF; }
  #school .accent div {
    width: 25%;
    height: 9px;
    display: inline-block;
    position: absolute;
    top: 42px; }
  #school .accent div:first-of-type {
    background-color: #000000;
    width: 100%;
    top: 33px; }
  #school .accent div:nth-of-type(2) {
    background-color: #FFBEEF; }
  #school .accent div:nth-of-type(3) {
    left: 25%;
    background-color: #FF63AA; }
  #school .accent div:nth-of-type(4) {
    left: 50%;
    background-color: #DF2498; }
  #school .accent div:nth-of-type(5) {
    left: 75%;
    background-color: #C60078; }
#school h3 {
  font-size: 30px;
  font-weight: 100; }

#duke-of-ed .accent {
  line-height: 0; }
  #duke-of-ed .accent div {
    width: 20%;
    height: inherit;
    display: inline-block;
    position: absolute; }
  #duke-of-ed .accent div:first-of-type {
    background-color: #ee2651; }
  #duke-of-ed .accent div:nth-of-type(2) {
    background-color: #ffd820;
    left: 20%; }
  #duke-of-ed .accent div:nth-of-type(3) {
    background-color: #00aeef;
    left: 40%; }
  #duke-of-ed .accent div:nth-of-type(4) {
    background-color: #82c55b;
    left: 60%; }
  #duke-of-ed .accent div:last-of-type {
    background-color: #8c5ba6;
    right: 0; }
#duke-of-ed .card-header {
  background-color: white;
  padding: 8px 12px 20px 12px; }
#duke-of-ed .card-contents {
  padding-top: 0; }
  #duke-of-ed .card-contents .banner {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #82c55b;
    margin-top: 15px;
    margin-bottom: 15px; }
  #duke-of-ed .card-contents .banner:first-of-type {
    margin-top: 0;
    background-color: #00aeef; }

#htn .card-header {
  padding: 10px 0 10px 0;
  background-color: #3bb4d8;
  color: black; }
  #htn .card-header img {
    border: 5px solid white;
    border-radius: 50%; }
#htn .accent {
  background-color: #007096; }

#htn-logo {
  margin-bottom: 20px; }

#blue-coat > .section-contents {
  text-align: center; }

#blue-coat .card-header {
  padding-top: 20px;
  background-color: black; }
#blue-coat .card-contents {
  padding-top: 0; }
  #blue-coat .card-contents .banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white; }
#blue-coat .accent {
  background-color: #26ace2; }

#metric-wire > .section-contents {
  text-align: center; }

#metric-wire .card-header {
  padding-top: 20px;
  background-color: black; }
#metric-wire .card-contents {
  padding-top: 0; }
  #metric-wire .card-contents .banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white; }
#metric-wire .accent {
  background: linear-gradient(to right, #834f9b, #7ccccc); }

/*# sourceMappingURL=main.css.map */
