@import "_media.scss";
@import "_venders.scss";

$htn-blue-light: rgb(59, 180, 216);
$htn-blue-dark: rgb(0, 112, 150);

#htn {
	& > div:first-of-type .card {
			background-color: $htn-blue-light + rgb(100, 100, 100);
			padding: 25px;
	}
	.card {
		height: 370.57px;
	}
	.card-contents {
		height: 233.46px;
	}
	.card-footer {
		background-color: $htn-blue-light;
		color: white;
	}
	.card-button {
		background-color: $htn-blue-dark;
		font-size: 25px;
		color: white;
		&:hover, &:active, &:visited {
			color: white;
			text-decoration: none;
		}
	}
	p {
		font-size: 22px;
	}
}