$primary: orange;

$bootstrap-sm-width: 768px;
$bootstrap-md-width: 992px;
$bootstrap-lg-width: 1200px;

@mixin box-shadow($x, $y, $blur, $colour) {
	box-shadow: $x $y $blur $colour;
		-ms-box-shadow: $x $y $blur $colour;
		-moz-box-shadow: $x $y $blur $colour;
		-o-box-shadow: $x $y $blur $colour;
		-webkit-box-shadow: $x $y $blur $colour;
}

body {
    display: block;
    font-family: "segoe ui", "arial", "noto sans", "ubuntu light", sans-serif;
    font-weight: 100;
    background-color: silver;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 100px 0 25px 0;
    @media (min-width: 720px) {
    	padding-top: 50px;
    }
    text-align: center;
}

* > span, * > p, * > div {
    font-weight: 100;
    font-size: 20px;
}

// Navigation
#nav {
    position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
    display: block;
        width: 100%;
    background-color: black;
    color: ghostwhite;
    @include box-shadow(0px, 5px, 5px, grey);

	h1 {
	    font-size: 40px;
	    font-weight: 100;
	    margin: 0px;
	    margin-top: 10px;
	}

	a {
	    margin-top: 2px;
	}

	.accent {
	    position: absolute;
	        bottom: -1px;
	    display: block;
	        width: 100%;
	        height: 5px;
	    background-color: $primary;
	}
}

// Cards
.card {
    margin-top: 25px;

	h2 {
	    margin: 0px;
	    font-weight: 100;
	    font-size: 30px;
	}

	.card-header {
		@include box-shadow(5px, 5px, 5px, grey);
	}

	.card-contents {
	    background-color: whitesmoke;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    @include box-shadow(5px, 5px, 5px, grey);
	}

	.accent {
	    display: block;
	        height: 5px;
	    background-color: white;
	    @include box-shadow(5px, 5px, 5px, grey);
	}
}

// About-Me
#about-me {
	.accent {
	    background-color: $primary;
	}

	img {
	    border: 5px solid $primary;
	}

	.quote {
	    margin-top: 20px;
	    padding-top: 5px;
	    background-color: #CCFFFF;
	    border: 1px solid #3385FF;
	}
}

// School
// https://uwaterloo.ca/brand/visual-expression/colour-palette
// Note: L3 is the primary

    // White
$uw-white: #FFFFFF;

    // Black / Grey
$uw-grey-l1: #DFDFDF;
$uw-grey-l2: #A2A2A2;
$uw-grey-l3: #787878;
$uw-grey-l4: #000000; // black

    // Gold
$uw-gold-l1: #FFFFAA;
$uw-gold-l2: #FFEA3D;
$uw-gold-l3: #FFD54F;
$uw-gold-l4: #E4B429;


    // Satellites
$uw-satellite-l1: #FFA5AA;
$uw-satellite-l2: #E41740;
$uw-satellite-l3: #B71233;
$uw-satellite-l4: #80001F;

    // Math Faculty
$uw-math-l1: #FFBEEF;
$uw-math-l2: #FF63AA;
$uw-math-l3: #DF2498;
$uw-math-l4: #C60078;

    // SJ
$sj-green-dark: #01573E;
$sj-gold-dark: #8D590B;
$sj-green-light: #92B7AC;
$sj-gold-light: #C88A11;
#school {
    .card-header {
        background-color: $uw-gold-l3;
        padding: 8px;
    }
    
	.card-contents {
        padding: 0;
        
        .banner {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: $uw-grey-l4;
            color: $uw-white;
            margin-bottom: 10px;
        }
	}

	.accent {
        $uw-colour-bar-height: 10px;
        @media (min-width: $bootstrap-sm-width) {
            $uw-colour-bar-height: 12px;
        }
        @media (min-width: $bootstrap-md-width) {
            $uw-colour-bar-height: 14px;
        }
        @media (min-width: $bootstrap-lg-width) {
            $uw-colour-bar-height: 18px;
        }
        
        $uw-colour-bar-offset: 33px;
        
        height: $uw-colour-bar-height;
	    background-color: $uw-white;
        
        div {
            width: 25%;
            height: $uw-colour-bar-height / 2;
            display: inline-block;
            position: absolute;
            top: $uw-colour-bar-offset + ($uw-colour-bar-height / 2);
        }
        
        div:first-of-type {
            background-color: $uw-grey-l4;
            width: 100%;
            top: $uw-colour-bar-offset;
        }
        
        div:nth-of-type(2) {
            background-color: $uw-math-l1;
        }
        
        div:nth-of-type(3) {
            left: 25%;
            background-color: $uw-math-l2;
        }
        
        div:nth-of-type(4) {
            left: 50%;
            background-color: $uw-math-l3;
        }
        
        div:nth-of-type(5) {
            left: 75%;
            background-color: $uw-math-l4;
        }
	}

	h3 {
	    font-size: 30px;
	    font-weight: 100;
	}
}

// Duke of Edinburgh
$dofe-red: #ee2651;
$dofe-yellow: #ffd820;
$dofe-blue: #00aeef;
$dofe-green: #82c55b;
$dofe-purple: #8c5ba6;
#duke-of-ed {
    .accent {
        line-height: 0;
        
        div {
            width: 20%;
            height: inherit;
            display: inline-block;
            position: absolute;
        }
        
        div:first-of-type {
            background-color: $dofe-red;
        }
        
        div:nth-of-type(2) {
            background-color: $dofe-yellow;
            left: 20%;
        }
        
        div:nth-of-type(3) {
            background-color: $dofe-blue;
            left: 40%;
        }
        
        div:nth-of-type(4) {
            background-color: $dofe-green;
            left: 60%;
        }
        
        div:last-of-type {
            background-color: $dofe-purple;
            right: 0;
        }
    }
    
    .card-header {
        background-color: white;
        padding: 8px 12px 20px 12px;
    }
    
    .card-contents {
        padding-top: 0;
        
        .banner {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: $dofe-green;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        .banner:first-of-type {
            margin-top: 0;
            background-color: $dofe-blue;
        }
    }
}

// Hack the North
$htn-blue-light: rgb(59, 180, 216) !global;
$htn-blue-dark: rgb(0, 112, 150) !global;
#htn {
	.card-header {
		padding: 10px 0 10px 0;
		background-color: $htn-blue-light;
		color: black;

		img {
			border: 5px solid white;
			border-radius: 50%;
		}
	}
	.accent {
		background-color: $htn-blue-dark;
	}
}
#htn-logo {
	margin-bottom: 20px;
}

// Blue Coat
$bc-blue: rgba(38, 172, 226,1);
#blue-coat > .section-contents {
    text-align: center;
}
#blue-coat {
    .card-header {
		padding-top: 20px;
		background-color: black;
	}
	.card-contents {
	    padding-top: 0;
		
		.banner {
		    padding-top: 20px;
		    padding-bottom: 20px;
		    margin-bottom: 20px;
		    background-color: black;
		    color: white;
		}	
	}
    .accent {
        background-color: $bc-blue;
    }
}

// MetricWire
$mw-blue: rgba(124, 204, 204, 1);
$mw-purple: rgba(131, 79, 155, 1);
#metric-wire > .section-contents {
    text-align: center;
}
#metric-wire {
	.card-header {
		padding-top: 20px;
		background-color: black;
	}
	.card-contents {
	    padding-top: 0;
		
		.banner {
		    padding-top: 20px;
		    padding-bottom: 20px;
		    margin-bottom: 20px;
		    background-color: black;
		    color: white;
		}	
	}
	.accent {
		background: linear-gradient(to right, $mw-purple, $mw-blue);
	}
}
