$accent: orange;
$sectionBorder: 10px;
$sectionWidth: calc(50% - 10px);
$topPadding: 100px;

* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

body {
    overflow: hidden;
        overflow-y: hidden;
    font-size: 15pt;
}

header {
    position: fixed;
        top: 0;
        left: 0;
    display: block;
        width: $sectionWidth;
        height: 100%;
    background-color: rgb(51, 51, 51);
    border-right: $sectionBorder solid $accent;

    & > div {
        position: absolute;
            top: $topPadding;
            left: 50px;
        display: block;
            width: calc(100% - 150px);
            height: calc(100% - 100px - 25px);

        & > img {
            position: absolute;
                top: 0;
                left: calc(50% - 250px);
            display: block;
                width: 500px;
            border: 15px solid $accent;
            border-radius: 50%;
        }

        & > h1 {
            position: absolute;
                top: 600px;
                left: 0;
            display: block;
                width: 100%;
            text-align: center;
            font-size: 45pt;
            color: white;
        }

        & > div {
            position: absolute;
                bottom: 0;
                left: 0;
            display: block;
                width: 100%;

            a {
                display: inline-block;
                    width: 120px;
                text-decoration: none;
                background-color: transparent;
                padding: 5px;
                margin: calc((100% - 536px) / 6);
                margin-top: 0;
                margin-bottom: 0;
                border: 0 solid $accent;
                border-bottom-width: 2px;
                color: white;
                text-align: center;

                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

    }
}

main {
    position: absolute;
        top: 0;
        right: 0;
    display: block;
        width: $sectionWidth;
        min-height: 100%;
    background-color: gainsboro;
    padding-top: $topPadding;
    padding-bottom: $topPadding;
    border-left: $sectionBorder solid $accent;

    section {
        position: relative;
            top: 0;
            left: 0;
        display: block;
            width: 100%;
        margin: 50px;
            margin-top: 100px;
            margin-left: 100px;

        &:first-of-type {
            margin-top: 0;
        }

        img {
            position: absolute;
                top: 0;
                left: -175px;
            display: block;
                width: 125px; 
        }

        h2 {
            margin-left: 50px;
            font-size: 30pt;
        }

        article {
        }
    }
}