.card {
    margin-top: 25px;
}

/* Title */
.card h2 {
    margin: 0px;
    font-weight: 100;
    font-size: 30px;
}

/* Information Card */
.card .card-contents {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Accent */
.card .accent {
    display: block;
        height: 5px;
    background-color: white;
}