body {
    background-color: silver;
}

* {
    font-weight: 100;
    margin: 0;
    line-height: none;
    font-family: 'segoe ui', 'arial', sans-serif;
}

.accent {
    display: block;
        width: 100%;
        height: 5px;
    background-color: orange;
}

body > div {
    position: absolute;
        top: 0;
    display: inline-block;
    min-height: 100%;
}

/* Phones */
@media (max-width: 6in) {
    body > div {
        left: 0;
        width: 100%;
        background-color: blue;
    }
}

/* Tablets */
@media (min-width: 6in) {
    body > div {
        left: 0;
        width: 100%;
        background-color: green;
    }
}

/* PCs
@media (min-width: 10in) {
    body > div {
        left: calc((100% - 1366px) / 2);
        min-width: 10in;
        width: 100%;
        max-width: 1366px;
        background-color: red;
    }
}
 */