#me {
    background-color: whitesmoke;
    position: absolute;
    display: block;
    border: 0px solid orange;
        border-right-width: 1px;
        border-left-width: 1px;
}
#me > img {
    position: absolute;
    border-radius: 50%;
    border: 5px solid orange;
}
#me > h1 {
    position: absolute;
}
#me > a {
    position: absolute;
    display: block;
    border-style: solid;
    border-color: orange;
    border-width: 0px;
        border-top-width: 1px;
    font-weight: 500;
    text-align: center;
    font-size: large;
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
     text-decoration: none;
    color: black;
}
#me > p {
    position: absolute;
        top: 180px;
        left: 10px;
    width: 280px;
    font-size: large;
    text-indent: 50px;
}

@media (max-width: 1200px) {
    #me {
        top: 0px;
        left: 0px;
        width: 800px;
        height: 50px;
        border-top-width: 0px;
        border-bottom-width: 5px;
    }
    #me > img {
        border-width: 2px;
        width: 85px;
        top: 8px;
        left: 8px;
    }
    #me > h1 {
        bottom: -8px;
        left: 105px;
    }
    #me > p {
        display: none;
    }
    #me > a {
        border-right-width: 1px;
        bottom: 0px;
        padding-right: 5px;
        padding-left: 5px;
    }
    #me > a:nth-of-type(1) {
        right: 307px;
        border-left-width: 1px;
    }
    #me > a:nth-of-type(2) {
        right: 145px;
    }
    #me > a:nth-of-type(3) {
        right: 67px;
    }
    #me > a:nth-of-type(4) {
        right: 0px;
        border-right-width: 0px;
    }
    #me > a > img {
        display: none;
    }
}

@media (max-width: 800px) {
    #me {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    #me {
        top: 150px;
        left: 0px;
        width: 300px;
        height: 600px;
        border-top-width: 5px;
        border-bottom-width: 0px;
    }
    #me > img {
        top: -100px;
        left: 50px;
        width: 190px;
    }
    #me > h1 {
        top: 110px;
        left: 0px;
        width: 100%;
        text-align: center;
    }
    #me > p {
       display: block;
    }
    #me > a {
        left: 0px;
        right: 25px;
        width: 100%;
    }
    #me > a:nth-of-type(1) {
        bottom: 105px;
    }
    #me > a:nth-of-type(2) {
        bottom: 70px;
    }
    #me > a:nth-of-type(3) {
        bottom: 35px;
    }
    #me > a:nth-of-type(4) {
        bottom: 0px;
        border-bottom-width: 1px;
    }
}