/* Accent */
#about-me .accent {
    background-color: orange;
}

/* Picture */
#about-me img {
    border: 5px solid orange;
}

/* Inspirational Quote */
#about-me .quote {
    margin-top: 20px;
    padding-top: 5px;
    background-color: #CCFFFF;
    border: 1px solid #3385FF;
}