#metric-wire > .section-contents {
    text-align: center;
}

#metric-wire .card-contents {
    padding-top: 0px;
}
/* Accent */
#metric-wire .accent
    { background: linear-gradient(to right, rgba(131, 79, 155, 1), rgba(124, 204, 204, 1)); }

/* Banner */
#metric-wire .card-contents .banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}