/*
    UW Digital Colour Palette
    https://uwaterloo.ca/brand-guidelines/visual-identity/digital-colour-palette
*/

/*
#school {
    position: absolute;
        top: 75px;
        right: 0px;
    display: block;
        width: 800px;
    border: 1px solid #E0249A;
        border-top-width: 5px;
    background-color: white;
}

#school > img {
    position: absolute;
        top: -50px;
    display: block;
        width: 100px;
}

#school > h2 {
    position: absolute;
        top: -32px;
}

#school > h3 {
    position: absolute;
}

@media (max-width: 1200px) {
    #school {
        top: 115px;
        height: 500px;
    }
    #school > img {
        left: 105px;
    }
    #school > h2 {
        left: 0px;
    }
    #school > h3 {
        top: -27px;
        left: 220px;
    }
}

@media (min-width: 1200px) {
    #school {
        height: 500px;
    }
    #school > img {
        left: 25px;
    }
    #school > h2 {
        left: 135px;
    }
    #school > h3 {
        top: 0px;
        left:  135px;
    }
}
*/