/*
    UW Digital Colour Palette
    https://uwaterloo.ca/brand-guidelines/visual-identity/digital-colour-palette
*/

#school .card-contents {
    padding: 0px;
}

#school .card-contents > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Logo */
#school-logo {
    margin-bottom: 20px;
}

/* Accent */
#school .accent {
    background-color: #E0249A;
}

/* Titles */
#school h3 {
    font-size: 30px;
    font-weight: 100;
}